.app-title {
  text-align: center;
}

.details-container {
  text-align: center;
  padding: 2vh;
}

.inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.labels {
  margin-top: 2vh;
}

.details {
  list-style: none;
  padding: 2vh;
}
